#projects {
    $proj_width: $width * .94;
    margin: 0 auto;
    width: $proj_width;
    padding-bottom: 120px;

    article {
        text-align: center;

        $spacing: 30px;
        $article_width: ($proj_width / 3);

        box-sizing: border-box;

        width: $article_width;
        margin: 0;
        padding: $spacing / 2;

        a {
            &:visited {
                color: darken(blue, 20%);
            }
        }

        p {
            margin: 0 0 1em;
        }

        display: inline-block;
        vertical-align: top;
        .inside {
            display: table-cell;
        }

        @for $n from 1 through 6 {
            h#{$n} {
                font-size: 24pt;
                font-weight: bold;
                margin: 0 0 8pt;
            }
        }

        img {
            width: $article_width - ($spacing * 2);
            margin: 0 auto 1em;
            display: block;
            color: #888;
            font-size: 10pt;
            font-style: italic;
            border-radius: $border_radius;
        }

    }
}
