#project {
    $proj_padding: 20px;
    width: $width;
    box-sizing: border-box;
    padding: $proj_padding;
    padding-bottom: 72px;

    & > .title {
        margin: 0 0 2.8em;

        * {
            margin: 0;
        }

        h2.title {
            font-size: 30pt;
            display: inline-block;
        }

        a.back {
            display: inline-block;
            margin-left: 12pt;
            font-size: 12pt;
            color: blue;
        }
    }

    img.thumbnail {
        float: left;
        margin-right: 1em;
        margin-bottom: 1em;
    }

    @at-root {
        #screenshots {
            $screenshots_width: $width -  2*$proj_padding;
            width: $screenshots_width;
            margin: 0;
            padding: 10px 0 0;
            box-sizing: border-box;
            clear: both;
            text-align: center;

            .screenshot {
                $num_in_row: 3;

                margin-top: 20px;
                $thumb_width: $screenshots_width / $num_in_row;
                width: $thumb_width;
                box-sizing: border-box;
                display: inline-block;
                text-align: center;

                a {
                    display: inline-block;
                }

                img {
                    display: block;
                    margin: 0 auto;
                    max-width: $thumb_width;
                }

                .see-large {
                    font-size: 10pt;
                    color: blue;
                    display: block;
                }
            }
        }
    }

    overflow: hidden;
}
