#project {
    padding: 1.4em;
    padding-bottom: 3em;

    h2.title {
        margin: 0 0 1.2em;
        font-size: 30pt;
    }

    img.thumbnail {
        float: left;
        margin-right: 1em;
        margin-bottom: 1em;
    }

    overflow: hidden;
}
