- var site = "eize.ninja"
- var title_sep = " | "
doctype html
html(lang=en)
    head
        title
            block title
                =site
        block head_include
            link(href="css/skew.css" rel="stylesheet")
        meta(charset="utf-8")
    body
        #everything
            #main
                h1#site-title
                    span.eize eize
                    span.ninja ninja
                p.intro ...and what a ninja you are! these are some projects, for you to behold.
                #content
                    block content
                        em nothing to see here
