extends base

block title
    | eize.ninja! stuff by Amir Eldor

block content
    #projects
        - each proj in projects
            article
                .inside
                    h3.title= proj.title
                    img(src="#{proj.image}" alt="#{proj.title} thumbnail").thumbnail
                    .description= proj.short_desc
