extends ./base.jade

block title
    | #{title} - eize.ninja

block content
    #page
        .title
            h2.title= title
            a.back(href="#{root_url}") (back to sanity)
        !=html
