extends ./base

block title
    |eize.ninja - something's wrong

block content
    #sad
        a(href="#{root_url}/") (home)
        h2 well excuse me!
        em but something went wrong!
        p you can always return
            =" "
            a(href="#{root_url}/") home
