article.amir-x
    .inside
        h3 Amir-X (with simcapy)
        img(alt="Amir-X simcapy screenshot" src="images/amir-x-simcapy.png")
        :markdown
            This is my home on the net, "simcapy" theme.
