article.chopped
    .inside
        h3 Chopped Fingers Reviews
        img(alt="Chopped Fingers Reviews screenshot" src="images/choppedfingers.png")
        :markdown
             A reviews site, made as an exercise in Drupal Themes.
